.chart {
    flex: 6;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.37);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.37);
    padding: 10px;
    color: gray;

    .title {
        margin-bottom: 20px;
    }

    .chartGrid {
        stroke: rgb(197, 187, 187);
    }
}
