.sidebar {
    flex: 1.5;
    border-right: 0.5px solid rgb(177, 188, 199);
    min-height: 100vh;
    background-color: white;

    .top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-style: 20px;
            font-weight: bold;
            color: rgb(7, 108, 240);
        }
    }

    hr {
        height: 0;
        border: 0.5px solid rgb(177, 188, 199);
    }

    .center {
        padding-left: 10px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .title {
                font-style: 10px;
                font-weight: bold;
                color: rgb(134, 134, 122);
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(209, 229, 236);
                }

                .icon {
                    font-size: 30px;
                    color: rgb(29, 133, 231);
                }

                span {
                    font-style: 13px;
                    font-weight: 600;
                    color: gray;
                }
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid rgb(29, 133, 231);
            cursor: pointer;
            margin: 5px;

            &:nth-child(1) {
                background-color: rgb(255, 255, 255);
            }
            &:nth-child(2) {
                background-color: rgb(0, 0, 0);
            }
        }
    }
}
