.new {
    display: flex;
    width: 100%;

    .newContainer {
        flex: 6;

        .top,
        .bottom {
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.37);
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.37);
            padding: 10px;
            margin: 20px;
            display: flex;

            h1 {
                color: lightblue;
                font-size: 20px;
            }
            .left {
                flex: 1;
                text-align: center;

                .img {
                    width: 100px;
                    height: 100px;
                    background-color: rgb(204, 192, 192);
                    border-radius: 20%;
                    object-fit: cover;
                }
            }
            .right {
                flex: 1;

                form {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    justify-content: space-around;

                    .formInput {
                        width: 40%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .icon {
                                display: flex;
                                cursor: pointer;
                            }
                        }

                        input {
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                        }
                    }

                    button {
                        width: 150px;
                        padding: 10px;
                        border: none;
                        background-color: rgb(74, 184, 184);
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
